boto3==1.3.0
botocore==1.4.7
docutils==0.12
et-xmlfile==1.0.1
Flask==0.10.1
Flask-S3==0.2.11.post1
Flask-SQLAlchemy==2.1
fpdf==1.7.2
futures==3.0.5
gunicorn==19.4.5
itsdangerous==0.24
jdcal==1.2
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
openpyxl==2.3.3
psycopg2==2.6.1
python-dateutil==2.5.1
six==1.10.0
SQLAlchemy==1.0.11
Werkzeug==0.11.3
wheel==0.26.0
xlrd==0.9.4
