#main_form{
    position: relative;
    width: 500px;
    align-content: center;
    margin: auto;
    text-align: center;
}

#form_body{
	background-image: url("/static/assets/images/bg/endOfTutorialBackground.png");
	background-repeat: no-repeat;

	background-size: cover;
}

h1 {
    text-shadow: 1px 1px #000000;
}


.container{
    position: relative;

    align-content: center;
    margin: auto;
    text-align: center;
	color: black;
}

.outer_champ_info{
width: 100%;
height: 400px;
background-color: #000;
border: 1px solid white;
}
.champ_info{
    position: relative;
    align-content: left;
    text-align: center;
    margin: 0:auto;

    width: 33.33333%;
    background-image: linear-gradient(#1e5799, #b5d2ee);
    background-size: auto 200%;
    background-position: 0 80%;
    transition: background-position 0.5s;

    float:left




}

 .champ_info:hover {
    background-position: 0 0;
}