<!DOCTYPE html>
<html lang="en">
<head class="loading">
    <meta charset="UTF-8">
    <title>ritoPls</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"></script>


    <script>
        window.onload = function () {
            setTimeout(function () {
                $(".loader").fadeOut("slow");
            }, 1000);
        };
    </script>

</head>
<div class="loader" id="load"></div>
<body id="base_body">
    <div class="container">

        {% block content %}{% endblock %}
    </div>
    <p>Rendered in {{ g.request_time() }}</p>


    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">

</body>
</html>