<!DOCTYPE html>
<html lang="en">
<head class="loading">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/static/assets/images/favicon-32x32.png">
    <link rel="shortcut icon" type="image/png" sizes="96x96" href="/static/assets/images/favicon-96x96.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/assets/images/favicon/favicon.ico">
    <meta charset="UTF-8">
    <title>ritoPls</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"></script>


    <script>
        window.onload = function () {
            setTimeout(function () {
                $(".loader").fadeOut("slow");
            }, 1000);
        };
    </script>

</head>
<body id="base_body">
    <div class="loader" id="load"></div>

    <div class="container">

        {% block content %}{% endblock %}
    </div>
    <p>Rendered in {{ g.request_time() }}</p>


    <script src="/static/js/bootstrap.min.js"></script>


</body>
</html>