<!DOCTYPE html>
<html lang="en">
<head class="loading">
    <meta charset="UTF-8">
    <title>ritoPls</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"></script>

    <!-- load animation test 1
    <script type="text/javascript">
    $(window).load(function() {
        $(".loader").fadeOut("slow");
    })
    </script>
    -->
    <!-- load animation test 2
        <script>
            document.onreadystatechange = function () {
      var state = document.readyState
      if (state == 'interactive') {
           document.getElementById('base_body').style.visibility="hidden";
      } else if (state == 'complete') {
          setTimeout(function(){
             document.getElementById('interactive');
                              document.getElementById('load').style.visibility="hidden";


             document.getElementById('base_body').style.visibility="visible";
          },2000);
      }
    }
        </script>
        -->

    <script>
        window.onload = function () {
            setTimeout(function () {
                $(".loader").fadeOut("slow");
            }, 1000);
        };
    </script>


</head>
<div class="loader" id="load"></div>
<body id="base_body">
    <div class="container">

        {% block content %}{% endblock %}
    </div>
    <p>Rendered in {{ g.request_time() }}</p>


    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">

</body>
</html>