<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ritoPls</title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/main.css" rel="stylesheet" media="screen">
</head>
<body>

    <br>
    <form action="" id="main_form" method="post">
        <h1>Please enter info</h1>
        <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
        <select name="region">
            <option value="na">North America</option>
            <option value="euw">Europe West</option>
            <option value="eune">Europe Nordic & East</option>
            <option value="br">Brazil</option>
            <option value="kr">Korea</option>
            <option value="tr">Turkey</option>
            <option value="ru">Russsia</option>
            <option value="lan">Latin America North</option>
            <option value="las">Latin America South</option>
            <option value="oce">Oceania</option>
        </select>
        <input class="btn btn-default" type="submit" value="Search">
    </form>
    <audio loop autoplay="autoplay">
    	<source src="../static/assets/music/ChmpSlct_AChampionApproaches.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
  	</audio>
   
</body>
</html>