{% extends "base.html" %}
{% block content %}



<h1> {{username}}'s Mastery Info!</h1>
<p>Total Mastery Score: {{score}}</p>

<h2>Top 3 Champion Scores</h2>
{% for champ in top_champs %}
    <div>
    <h3>{{riot_champ_file['data'][champ.championId|string]['name']}}
    </h3>
        <img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{riot_champ_file['data']
    [champ.championId|string]['image'].get('full')}}" />
        <p>Champion level: {{champ.championLevel}}</p>

    </div>


{% endfor %}

{% endblock %}


function idToPic(champ){
<p1> hello </p1>
}
